.left-home {
    display: none;
}

.right-home {
    width: 100%;
    margin-bottom: 3rem;
}

span.right-home-text{
    align-items: center;
}

footer {
    bottom: 0px;
    width: 100%;
    position: fixed;
}